DATABASE_URL="postgresql://neondb_owner:npg_W6SzsC5Aejdc@ep-snowy-field-a4upukah-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="abcdefjhijklmnopqrstuvwxyz1234abcdefjhijklmnopqrstuvwxyz1234"
FILE_STORAGE_ROOT="./storage/uploads"


